/* Основной контейнер */
.layout {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Занимает всю высоту экрана */
  font-family: Arial, sans-serif;
}

/* Панель навигации */
.navbar {
  width: 100%; /* Занимает всю ширину экрана */
  padding: 10px 20px; /* Отступы внутри панели */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Тень */
  display: flex;
  justify-content: flex-start; /* Элементы выравниваются по левому краю */
  align-items: center; /* Элементы выравниваются по вертикали */
}

