html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* Убираем горизонтальный скролл */
  font-family: Arial, sans-serif;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}